/* Stylesheet for the application - dont' touch */
/* Stylesheet for the application */

html * {
    box-sizing: border-box;
}

/*CSS for Header*/
header {
    background-color: rgb(52, 28, 92);
    margin-bottom: 7px;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a img {
    max-width: 45%;
}

/*Generel CSS*/
.page-content {
    max-font-size: x-large;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-family: Arial;
    min-height: 400px;
}

a:link {
    text-decoration: none;

}

button[type=submit]{
    margin: 1%;
    padding: 0.5%;
    border-radius: 8px;
    font-family: Arial;
    background-color: rgb(200, 200, 200);
    border-style: hidden;
    color: rgb(52, 28, 92);
}

input{
    margin: 1%;
    padding: 0.5%;
    border-radius: 8px;
    font-family: Arial;
    border-style: hidden;
    color: rgb(52, 28, 92);
}

select{
    margin: 1%;
    padding: 0.5%;
    border-radius: 8px;
    font-family: Arial;
    border-style: hidden;
    color: rgb(52, 28, 92);
}

/*CSS Flexboxcontainer that centers stuff*/
.flexbox-container1 {
    /*Sørger for at knapperne i flexbox item5 centeres på midten af siden*/
    display: flex;
    justify-content: center;
    align-items: center;
}


/*CSS for small buttons*/
.flexbox-item-lt-btn{
    align-self: center;
    justify-content: center;
    margin: 1%;
    padding: 0.5%;
    border-radius: 8px;
    font-size: small;
    font-family: Arial;
    background-color: rgb(200, 200, 200);
}


/*CSS for INDEX page*/
.flexbox-item-5 {
    align-self: center;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    border-radius: 8px;
    font-size: large;
    font-family: Arial;
    background-color: rgb(200, 200, 200);
}

/*Toolbar CSS*/
.toolbar {
    background-color: rgb(245, 245, 245);
}

.flexbox-container {
    display: flex;
    margin-bottom: 7px;
}

.flexbox-item {
    align-self: center;
    margin: 1%;
    font-family: Arial;
    color: rgb(170, 170, 170);
}

.flexbox-item-1 {
    margin: 2%;
}

.flexbox-item-2 {
}

.flexbox-item-3 {
    margin-left: auto;
}

.flexbox-item-4 {
    margin-right: 2%;
}