<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img alt="logo" src="public/images/headerImage.png" th:src="@{images/headerImage.png}"/>
    </a>
</header>

<div class="toolbar">
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">
            <!-- Change the href to listOfOrders -->
            <a href="listOfOrders.html" th:href="@{listOfOrders}" th:style="'color: rgb(170, 170, 170)'"/>Ordrer</a>
        </div>
        <div class="flexbox-item flexbox-item-2">
            <!-- Change the href to something for the profile -->
            <a href="login.html" th:href="@{login}" th:style="'color: rgb(170, 170, 170)'"/>Din profil</a>
        </div>
        <!-- Placeholder for E-mail -->
        <div class="flexbox-item flexbox-item-3">E-mail</div>
        <div class="flexbox-item flexbox-item-4">
            <a href="templates/shopping_basket.html" th:style="'color: rgb(170, 170, 170)'">
                <span class="material-symbols-outlined">shopping_basket</span>
            </a>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="page-content">
    <h1>Admin Dashboard</h1>

    <!-- Buttons for List of Users and List of Orders -->
    <div class="flexbox-container1">
        <!-- Button to redirect to List of Users -->
        <button type="submit" onclick="window.location.href='listOfUsers'">List of Users</button>

        <!-- Button to redirect to List of Orders -->
        <button type="submit" onclick="window.location.href='/listOfOrderlines'">List of Orderlines</button>


    </div>
</div>

</body>
</html>
