<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Orderlines</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>All Orderlines</h1>
<table>
    <tr>
        <th>Orderline ID</th>
        <th>Order ID</th>
        <th>Bottom ID</th>
        <th>Bottom Name</th>
        <th>Topping ID</th>
        <th>Topping Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <tr th:each="orderline : ${orderlines}">
        <td th:text="${orderline.orderlineId}"></td>
        <td th:text="${orderline.orderId}"></td>
        <td th:text="${orderline.bottomId}"></td>
        <td th:text="${orderline.toppingId}"></td>
        <td th:text="${orderline.quantity}"></td>
        <td th:text="${orderline.price}"></td>
    </tr>
</table>
</body>
</html>
